<div class="tinyeditor">
    <div class="tinyeditor-header grey lighten-4" ng-hide="editMode">
        <div class="tinyeditor-control" title="Bold" style="background-position-y: -120px;"
             ng-click="execCommand('bold')">
            <i class="small mdi-editor-format-bold"></i>
        </div>
        <div class="tinyeditor-control" title="Italic" style="background-position-y: -150px;"
             ng-click="execCommand('italic')">
            <i class="mdi-editor-format-italic small"></i>
        </div>
        <div class="tinyeditor-control" title="Underline" style="background-position-y: -180px;"
             ng-click="execCommand('underline')">
            <i class="mdi-editor-format-underline small"></i>
        </div>
        <div class="tinyeditor-control" title="Strikethrough" style="background-position-y: -210px;"
             ng-click="execCommand('strikethrough')">
            <i class="mdi-editor-format-strikethrough small"></i>
        </div>
        <div class="tinyeditor-divider"></div>
        <div class="tinyeditor-control" title="Insert Ordered List" style="background-position-y: -300px;"
             ng-click="execCommand('insertorderedlist')">
            <i class="small mdi-editor-format-list-numbered"></i>
        </div>
        <div class="tinyeditor-control" title="Insert Unordered List" style="background-position-y: -330px;"
             ng-click="execCommand('insertunorderedlist')">
            <i class="mdi-editor-format-list-bulleted small"></i>
        </div>
        <div class="tinyeditor-divider"></div>
        <div class="tinyeditor-control" title="Indent" style="background-position-y: -390px;"
             ng-click="execCommand('indent')">
            <i class="mdi-editor-format-indent-increase small"></i>
        </div>
        <div class="tinyeditor-control" title="Outdent" style="background-position-y: -360px;"
             ng-click="execCommand('outdent')">
            <i class="small mdi-editor-format-indent-decrease"></i>
        </div>
        <div class="tinyeditor-divider"></div>
        <div class="tinyeditor-control" title="Left Align" style="background-position-y: -420px;"
             ng-click="execCommand('justifyleft')">
            <i class="small mdi-editor-format-align-left"></i>
        </div>
        <div class="tinyeditor-control" title="Center Align" style="background-position-y: -450px;"
             ng-click="execCommand('justifycenter')">
            <i class="mdi-editor-format-align-center small"></i>
        </div>
        <div class="tinyeditor-control" title="Right Align" style="background-position-y: -480px;"
             ng-click="execCommand('justifyright')">
            <i class="small mdi-editor-format-align-right"></i>
        </div>
        <div class="tinyeditor-control" title="Block Justify" style="background-position-y: -510px;"
             ng-click="execCommand('justifyfull')">
            <i class="mdi-editor-format-align-justify small"></i>
        </div>
        <div class="tinyeditor-divider"></div>
        <div class="tinyeditor-control valign-wrapper" title="Subscript" style="background-position-y: -240px;"
             ng-click="execCommand('subscript')">
            <i class="flaticon-subscript valign"></i>
        </div>
        <div class="tinyeditor-control" title="Superscript" style="background-position-y: -270px;"
             ng-click="execCommand('superscript')">
            <i class="flaticon-superscript1"></i>
        </div>
        <div class="tinyeditor-divider"></div>
        <div class="tinyeditor-control" title="Remove Formatting" style="background-position-y: -720px;"
             ng-click="execCommand('removeformat')">
            <i class="small mdi-editor-format-clear"></i>
        </div>
        <div class="tinyeditor-divider"></div>
        <div class="tinyeditor-control" title="Undo" style="background-position-y: -540px;"
             ng-click="execCommand('undo')">
            <i class="small mdi-content-undo"></i>
        </div>
        <div class="tinyeditor-control" title="Redo" style="background-position-y: -570px;"
             ng-click="execCommand('redo')">
            <i class="small mdi-content-redo"></i>
        </div>
        <!--<input type="button" id="toggleGreenTextButton" value="Toggle Green Text">-->
        <!--<input type="button" id="toggleRedLinkButton" value="Toggle Red Link">-->
    </div>
    <div class="tinyeditor-header grey lighten-4" ng-hide="editMode">
        <div class="tinyeditor-control" title="Font Color" style="background-position-y: -779px; position: relative;"
             ng-click="showFontColors = !showFontColors">
            <i class="small mdi-editor-format-color-text"></i>
            <colors-grid show="showFontColors" on-pick="setFontColor(color)">
            </colors-grid>
        </div>
        <div class="tinyeditor-control" title="Background Color"
             style="background-position-y: -808px; position: relative;" ng-click="showBgColors = !showBgColors">
            <i class="small mdi-editor-format-color-fill"></i>
            <colors-grid show="showBgColors" on-pick="setBgColor(color)">
            </colors-grid>
        </div>
        <div class="tinyeditor-divider"></div>
        <div class="tinyeditor-control" title="Insert Image" style="background-position-y: -600px;"
             ng-click="insertImage()">
            <i class="small mdi-editor-insert-photo"></i>
        </div>
        <div class="tinyeditor-control" title="Insert Horizontal Rule" style="background-position-y: -630px;"
             ng-click="execCommand('inserthorizontalrule')">
            <i class="small mdi-editor-border-horizontal"></i>
        </div>
        <div class="tinyeditor-control" title="Insert Special Symbol"
             style="background-position-y: -838px; position: relative;" ng-click="showSpecChars = !showSpecChars">
            <i class="small mdi-editor-functions"></i>
            <symbols-grid show="showSpecChars" on-pick="insertSpecChar(symbol)">
                <symbols-grid>
        </div>
        <div class="tinyeditor-control" title="Insert Hyperlink" style="background-position-y: -660px;"
             ng-click="insertLink()">
            <i class="flaticon-link23"></i>
        </div>
        <div class="tinyeditor-control" title="Remove Hyperlink" style="background-position-y: -690px;"
             ng-click="execCommand('unlink')">
            <i class="flaticon-link55"></i>
        </div>
        <div class="tinyeditor-divider"></div>
        <!--<div class="tinyeditor-control" title="Impress" style="background-position-y: -600px;" ng-click="impress()">-->
        <!--<i class="mdi-social-school small"></i>-->
        <!--</div>-->
        <div class="row">
            <select class="editorSelect tinyeditor-font browser-default col m2" ng-model="font"
                    ng-options="a as a for a in fonts">
                <option value="">Font</option>
            </select>
            <select class="editorSelect tinyeditor-size browser-default col m2" ng-model="fontsize"
                    ng-options="a as a for a in fontsizes">
                <option value="">Size</option>
            </select>
            <select class="editorSelect tinyeditor-style browser-default col m2" ng-model="textstyle"
                    ng-options="s.key as s.name for s in styles">
                <option value="">Style</option>
            </select>

            <div class="tinyeditor-control" title="Add Slide with Background" style="background-position-y: -830px;
            position: relative;"
                 ng-click="showSlideColors = !showSlideColors">
                <i class="small mdi-content-add-box"></i>
                <colors-grid show="showSlideColors" on-pick="createSlide(color)">
                </colors-grid>
            </div>
            <div class="tinyeditor-control" title="Add Plain Slide with Transition" ng-click="createPlainSlide()">
                <i class="small mdi-content-add"></i>
            </div>
            <div class="tinyeditor-control" title="Add Plain Slide with Rotation" ng-click="createRotatedSlide()">
                <i class="mdi-action-3d-rotation small"></i>
            </div>
        </div>
    </div>

    <div class="sizer" ce-resize>
        <textarea data-placeholder-attr="" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box;
        box-sizing: border-box; border:none; resize: none; width: 100%; height: 100%;" ng-show="editMode"
                  ng-model="content"></textarea>
        <iframe style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 100%;"
                ng-hide="editMode" wframe="" ng-model="content"></iframe>
    </div>
    <div class="tinyeditor-footer">
        <div ng-switch="editMode" ng-click="editMode = !editMode" class="toggle">
            <div ng-switch-when="true"><i class="mdi-action-visibility small"></i> <span>WYSIWYG</span></div>
            <div ng-switch-default><i class="flaticon-programming2"></i> <span>Source</span></div>
        </div>
    </div>
</div>